body {
  background-image: url("/img/Background.jpg");
  background-size: fill;
  background-position: center;
}

.card-body {
  background-color: black;
  color: azure;
}
@media screen and (max-width: 575px) {
  .row {
    margin-right: 0.2rem;
  }
}
